      <aside>

	   <div id="wrapper">

		<div id="back">
	         <div id="upperHalfBack">
	         		<img src="__STYLE__/images/spacer.png" /><img id="hoursUpBack" src="__STYLE__/images/Single/Up/AM/0.png"/>
	                <img id="minutesUpLeftBack" src="__STYLE__/images/Double/Up/Left/0.png" class="asd" /><img id="minutesUpRightBack" src="__STYLE__/images/Double/Up/Right/0.png"/>
	                <img id="secondsUpLeftBack" src="__STYLE__/images/Double/Up/Left/0.png" /><img id="secondsUpRightBack" src="__STYLE__/images/Double/Up/Right/0.png"/>
	         </div>
	         <div id="lowerHalfBack">
	         		<img src="__STYLE__/images/spacer.png" /><img id="hoursDownBack" src="__STYLE__/images/Single/Down/AM/0.png" />
	               <img id="minutesDownLeftBack" src="__STYLE__/images/Double/Down/Left/0.png" /><img id="minutesDownRightBack" src="__STYLE__/images/Double/Down/Right/0.png" />
	               <img id="secondsDownLeftBack" src="__STYLE__/images/Double/Down/Left/0.png" /><img id="secondsDownRightBack" src="__STYLE__/images/Double/Down/Right/0.png" />
	         </div>
		</div>
	    
	    
	    <div id="front">
	         <div id="upperHalf">
	         		<img src="__STYLE__/images/spacer.png" /><img id="hoursUp" src="__STYLE__/images/Single/Up/AM/0.png"/>
	                <img id="minutesUpLeft" src="__STYLE__/images/Double/Up/Left/0.png" /><img id="minutesUpRight" src="__STYLE__/images/Double/Up/Right/0.png"/>
	                <img id="secondsUpLeft" src="__STYLE__/images/Double/Up/Left/0.png" /><img id="secondsUpRight" src="__STYLE__/images/Double/Up/Right/0.png"/>
	         </div>
	         <div id="lowerHalf">
	         		<img src="__STYLE__/images/spacer.png" /><img id="hoursDown" src="__STYLE__/images/Single/Down/AM/0.png"/>
	               <img id="minutesDownLeft" src="__STYLE__/images/Double/Down/Left/0.png" /><img id="minutesDownRight" src="__STYLE__/images/Double/Down/Right/0.png" />
	               <img id="secondsDownLeft" src="__STYLE__/images/Double/Down/Left/0.png" /><img id="secondsDownRight" src="__STYLE__/images/Double/Down/Right/0.png" />
	         </div>
		</div>   
	</div>

<div class="self">
        <figure><img src="__STYLE__/images/007.jpg"></figure>
     

      </div>

    <div class="topspaceinfo">
      <div class="rnav about_c">
      <p>网名：~~kong||白</p>
      <p>职业：学生、网页开发 </p>
      <p>现居：广东省—汕头市</p>
      <p>电话：15919286310</p>
      <p>邮箱：839319250@qq.com</p>
    </div>
    </div>
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
    <div class="tj_news">
      <h2>
        <p class="tj_t1">热门文章</p>
      </h2>
      <ul class="ph_n">
      {volist name="hotClick" id="vo"}
        <li><span class="num{$i}">{$i}</span><a href="{:url('Article/index', array('articleid' => $vo.id))}">{$vo.title}</a></li>
      {/volist}
      </ul>
      <h2>
        <p class="tj_t2">推荐文章</p>
      </h2>
      <ul class="ph_m">
      {volist name="hotCommend" id="vo"}
        <li><a href="{:url('Article/index', array('articleid' => $vo.id))}">{$vo.title}</a></li>
      {/volist}
      </ul>
    </div>
    <div class="links link11">
      <h2>
        <p>站内搜索</p>
      </h2>
      <div class="wrapper-green">
      	<div onclick="click11()" class="searchMeme-button-right  searchMeme-round-right green-hover">
      		<div class="searchMeme-button-icon searchMeme-button-inner"></div>
      	</div> 
      	<div class="searchMeme-input-right">
      		<input onkeypress="if (event.keyCode == 13){ click11();}" type="text" id="search-green" placeholder="请输入关键字" class="searchMeme-water-mark" style="margin-left: 0px; padding-left: 11px; padding-right: 11px;">
      	</div>
      	<div style="clear:both;"></div>
      </div>
    </div>
    <div class="links">
      <h2>
        <p>友情链接</p>
      </h2>
      <ul>
      	{volist name="links" id="vo"}
        	<li><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
        {/volist}
      </ul>
    </div>
  </aside>